<div class="container-fluid px-sm-2 pt-xl-4 pt-lg-3 pt-5 pb-3">
  <div class="row">
    <div class="col-12 mb-3">
      <h2 class="text-center">{{ page.title }}</h2>
      {{ page.content }}
    </div>
  </div>

  {% section 'gallery-horse-walkers' %}
  {% section 'gallery-aqua-walkers' %}
</div>